In [1]:
import pandas as pd
import numpy as np
import os 

from sklearn.model_selection import train_test_split

from sklearn.tree import DecisionTreeRegressor
from sklearn.ensemble import RandomForestRegressor
from sklearn.ensemble import AdaBoostRegressor
from sklearn.ensemble import GradientBoostingRegressor

In [2]:
# 读取数据
# 注: 20141231读取不了, 删了; 20151230,1231是空文件, 删了

# date_list = []
# data_folder = os.walk(r"data")  
# for path,dir_list,file_list in data_folder:  
#     for file_name in file_list:  
#         path_now = os.path.join(path, file_name)
#         if file_name[:11] == "beijing_all" :
#             date_list.append(path_now)

# date_list.sort()
# data_all = pd.read_csv(date_list[0])
# for i in range(1,len(date_list)):
#     print(date_list[i])
#     data_now = pd.read_csv(date_list[i])
#     data_all = pd.concat([data_all, data_now], axis=0)

# data_all.to_csv("data_all.csv")
            
data_all = pd.read_csv("data_all.csv")

/data2/syh/ENTER/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3058: DtypeWarning: Columns (1) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
data_all

,Unnamed: 0,<html>,<html><h1>Not Found</h1><p>The resource could not be found.</p></html>,date,hour,type,万寿西宫,万柳,东四,东四环,...,昌平,植物园,榆垡,永乐店,永定门内,琉璃河,西直门北,通州,门头沟,顺义
0,0,NaN,NaN,20140101.0,0.0,PM2.5,66.0,57.0,35.0,45.0,...,34.0,17.0,90.0,110.0,66.0,136.0,35.0,62.0,NaN,24.0
1,1,NaN,NaN,20140101.0,0.0,PM2.5_24h,59.0,65.0,53.0,43.0,...,40.0,32.0,143.0,112.0,62.0,148.0,50.0,71.0,NaN,53.0
2,2,NaN,NaN,20140101.0,0.0,PM10,175.0,152.0,114.0,172.0,...,116.0,62.0,92.0,169.0,182.0,323.0,112.0,150.0,NaN,124.0
3,3,NaN,NaN,20140101.0,0.0,PM10_24h,151.0,174.0,131.0,158.0,...,191.0,109.0,120.0,199.0,150.0,290.0,131.0,170.0,NaN,162.0
4,4,NaN,NaN,20140101.0,0.0,AQI,101.0,112.0,91.0,104.0,...,121.0,80.0,190.0,146.0,100.0,197.0,91.0,110.0,NaN,106.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270671,115,NaN,NaN,20200509.0,23.0,PM2.5,46.0,46.0,48.0,47.0,...,31.0,NaN,33.0,54.0,32.0,44.0,53.0,53.0,34.0,33.0
270672,116,NaN,NaN,20200509.0,23.0,PM2.5_24h,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270673,117,NaN,NaN,20200509.0,23.0,PM10,50.0,53.0,61.0,77.0,...,34.0,NaN,64.0,79.0,40.0,57.0,NaN,56.0,45.0,39.0
270674,118,NaN,NaN,20200509.0,23.0,PM10_24h,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
270675,119,NaN,NaN,20200509.0,23.0,AQI,64.0,64.0,66.0,65.0,...,44.0,NaN,57.0,74.0,46.0,61.0,73.0,73.0,49.0,47.0

In [4]:
# 查看全体数据缺失情况
na_count = data_all.isnull().sum().sort_values(ascending=False)
na_rate = na_count / len(data_all)
na_data = pd.concat([na_count,na_rate],axis=1,keys=['count','ratio'])
na_data

                                                     count     ratio
<html><h1>Not Found</h1><p>The resource could n...  270676  1.000000
<html>                                              270613  0.999767
植物园                                                 144944  0.535489
东高村                                                  94605  0.349514
八达岭                                                  92921  0.343292
琉璃河                                                  91885  0.339465
密云水库                                                 91595  0.338394
永乐店                                                  91386  0.337621
榆垡                                                   91148  0.336742
前门                                                   89781  0.331692
平谷                                                   87694  0.323981
永定门内                                                 86583  0.319877
顺义                                                   85948  0.317531
东四环                                                  84890  0.313622
北部新区                                                 84798  0.313282
通州                                                   84437  0.311949
怀柔                                                   84425  0.311904
南三环                                                  84291  0.311409
奥体中心                                                 83574  0.308760
西直门北                                                 83157  0.307220
天坛                                                   83096  0.306994
房山                                                   83032  0.306758
延庆                                                   83027  0.306739
密云                                                   82520  0.304866
亦庄                                                   82084  0.303256
东四                                                   81755  0.302040
万寿西宫                                                 80938  0.299022
丰台花园                                                 80784  0.298453
农展馆                                                  80486  0.297352
定陵                                                   80177  0.296210
大兴                                                   80067  0.295804
万柳                                                   80013  0.295604
昌平                                                   79539  0.293853
官园                                                   79525  0.293801
云岗                                                   78871  0.291385
门头沟                                                  78652  0.290576
古城                                                   78558  0.290229
type                                                    63  0.000233
hour                                                    63  0.000233
date                                                    63  0.000233
Unnamed: 0                                               0  0.000000

In [5]:
# 查看pm2.5数据缺失情况
data_all_pm25 = data_all[data_all['type']=='PM2.5']
na_count = data_all_pm25.isnull().sum().sort_values(ascending=False)
na_rate = na_count / len(data_all_pm25)
na_data = pd.concat([na_count,na_rate],axis=1,keys=['count','ratio'])
na_data

                                                    count     ratio
<html><h1>Not Found</h1><p>The resource could n...  54124  1.000000
<html>                                              54124  1.000000
植物园                                                 23478  0.433782
南三环                                                  4894  0.090422
琉璃河                                                  4727  0.087336
东四环                                                  4265  0.078801
八达岭                                                  4038  0.074606
榆垡                                                   3692  0.068214
通州                                                   3085  0.056999
前门                                                   2988  0.055207
东高村                                                  2701  0.049904
密云水库                                                 2572  0.047521
西直门北                                                 2474  0.045710
北部新区                                                 2400  0.044343
永乐店                                                  2120  0.039169
永定门内                                                 2005  0.037045
丰台花园                                                 1873  0.034606
大兴                                                   1830  0.033811
怀柔                                                   1737  0.032093
延庆                                                   1696  0.031335
门头沟                                                  1680  0.031040
天坛                                                   1638  0.030264
万寿西宫                                                 1570  0.029007
云岗                                                   1568  0.028971
平谷                                                   1567  0.028952
奥体中心                                                 1551  0.028656
昌平                                                   1534  0.028342
亦庄                                                   1449  0.026772
房山                                                   1438  0.026569
顺义                                                   1437  0.026550
古城                                                   1428  0.026384
农展馆                                                  1411  0.026070
东四                                                   1405  0.025959
密云                                                   1299  0.024000
官园                                                   1296  0.023945
定陵                                                   1227  0.022670
万柳                                                   1226  0.022652
type                                                    0  0.000000
hour                                                    0  0.000000
date                                                    0  0.000000
Unnamed: 0                                              0  0.000000

In [6]:
# 删去无用的前三列
data_all_pm25 = data_all_pm25.iloc[:,3:]

In [7]:
data_all_pm25

,date,hour,type,万寿西宫,万柳,东四,东四环,东高村,丰台花园,云岗,...,昌平,植物园,榆垡,永乐店,永定门内,琉璃河,西直门北,通州,门头沟,顺义
0,20140101.0,0.0,PM2.5,66.0,57.0,35.0,45.0,21.0,80.0,67.0,...,34.0,17.0,90.0,110.0,66.0,136.0,35.0,62.0,NaN,24.0
5,20140101.0,1.0,PM2.5,72.0,68.0,66.0,46.0,14.0,83.0,77.0,...,26.0,25.0,122.0,116.0,68.0,181.0,56.0,79.0,NaN,22.0
10,20140101.0,2.0,PM2.5,80.0,81.0,70.0,49.0,23.0,94.0,50.0,...,26.0,15.0,135.0,133.0,76.0,235.0,59.0,90.0,NaN,21.0
15,20140101.0,3.0,PM2.5,89.0,95.0,71.0,57.0,34.0,106.0,40.0,...,26.0,13.0,146.0,159.0,89.0,224.0,67.0,100.0,NaN,18.0
20,20140101.0,4.0,PM2.5,92.0,95.0,82.0,86.0,51.0,111.0,39.0,...,28.0,24.0,145.0,138.0,102.0,172.0,61.0,104.0,NaN,22.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
270651,20200509.0,19.0,PM2.5,34.0,33.0,37.0,26.0,29.0,34.0,17.0,...,24.0,NaN,28.0,27.0,31.0,35.0,28.0,32.0,38.0,23.0
270656,20200509.0,20.0,PM2.5,40.0,37.0,38.0,32.0,28.0,45.0,18.0,...,27.0,NaN,32.0,36.0,35.0,48.0,44.0,37.0,45.0,26.0
270661,20200509.0,21.0,PM2.5,46.0,40.0,42.0,40.0,31.0,48.0,19.0,...,31.0,NaN,34.0,44.0,37.0,44.0,49.0,43.0,46.0,29.0
270666,20200509.0,22.0,PM2.5,47.0,42.0,45.0,44.0,42.0,44.0,18.0,...,32.0,NaN,30.0,49.0,34.0,38.0,54.0,47.0,40.0,31.0
270671,20200509.0,23.0,PM2.5,46.0,46.0,48.0,47.0,48.0,45.0,16.0,...,31.0,NaN,33.0,54.0,32.0,44.0,53.0,53.0,34.0,33.0

In [11]:
# "就近"填充缺失数据
data_all_pm25_filled = data_all_pm25.fillna(method='ffill')
data_all_pm25_filled = data_all_pm25_filled.fillna(method='bfill')

In [12]:
# 检查pm2.5数据缺失情况
na_count = data_all_pm25_filled.isnull().sum().sort_values(ascending=False)
na_rate = na_count / len(data_all_pm25_filled)
na_data = pd.concat([na_count,na_rate],axis=1,keys=['count','ratio'])
na_data

      count  ratio
顺义        0    0.0
云岗        0    0.0
古城        0    0.0
南三环       0    0.0
北部新区      0    0.0
前门        0    0.0
农展馆       0    0.0
八达岭       0    0.0
亦庄        0    0.0
丰台花园      0    0.0
门头沟       0    0.0
东高村       0    0.0
东四环       0    0.0
东四        0    0.0
万柳        0    0.0
万寿西宫      0    0.0
type      0    0.0
hour      0    0.0
大兴        0    0.0
天坛        0    0.0
奥体中心      0    0.0
官园        0    0.0
通州        0    0.0
西直门北      0    0.0
琉璃河       0    0.0
永定门内      0    0.0
永乐店       0    0.0
榆垡        0    0.0
植物园       0    0.0
昌平        0    0.0
房山        0    0.0
怀柔        0    0.0
延庆        0    0.0
平谷        0    0.0
密云水库      0    0.0
密云        0    0.0
定陵        0    0.0
date      0    0.0

In [13]:
# 划分数据集
data_train_pm25_filled = data_all_pm25_filled[data_all_pm25_filled['date'] < 20200000]
data_train_pm25_filled = data_train_pm25_filled[data_train_pm25_filled['date'] > 20150000]
data_val_pm25_filled = data_all_pm25_filled[data_all_pm25_filled['date'] > 20200000]
data_test_pm25_filled = data_all_pm25_filled[data_all_pm25_filled['date'] < 20150000]

In [14]:
data_train_pm25_filled

,date,hour,type,万寿西宫,万柳,东四,东四环,东高村,丰台花园,云岗,...,昌平,植物园,榆垡,永乐店,永定门内,琉璃河,西直门北,通州,门头沟,顺义
42560,20150101.0,0.0,PM2.5,3.0,6.9,3.0,20.5,20.3,3.1,5.8,...,12.7,3.0,8.3,44.4,9.6,139.2,14.4,33.0,3.0,3.4
42565,20150101.0,1.0,PM2.5,3.0,3.4,5.2,32.0,13.3,4.9,3.0,...,15.3,4.6,23.6,37.9,7.9,184.6,9.5,55.0,3.0,4.0
42570,20150101.0,2.0,PM2.5,3.9,3.0,4.4,12.7,8.3,4.8,5.0,...,12.2,7.7,40.6,43.0,5.6,230.4,7.0,41.1,3.0,5.5
42575,20150101.0,3.0,PM2.5,4.2,4.5,3.0,19.8,7.9,4.0,3.3,...,4.4,9.2,90.5,19.2,6.7,153.1,3.7,17.2,3.0,4.0
42580,20150101.0,4.0,PM2.5,4.4,4.4,4.0,9.0,4.0,6.2,5.7,...,4.4,3.3,102.2,30.6,6.6,159.8,6.4,9.9,4.3,4.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
255376,20191231.0,19.0,PM2.5,39.0,33.0,39.0,34.0,45.0,35.0,36.0,...,29.0,9.0,53.0,37.0,43.0,50.0,45.0,38.0,36.0,31.0
255381,20191231.0,20.0,PM2.5,44.0,30.0,43.0,39.0,71.0,46.0,36.0,...,28.0,9.0,57.0,42.0,45.0,53.0,49.0,41.0,36.0,36.0
255386,20191231.0,21.0,PM2.5,44.0,33.0,44.0,41.0,69.0,49.0,32.0,...,22.0,9.0,53.0,52.0,48.0,67.0,52.0,42.0,33.0,38.0
255391,20191231.0,22.0,PM2.5,47.0,35.0,46.0,42.0,56.0,48.0,31.0,...,24.0,9.0,58.0,59.0,54.0,73.0,46.0,44.0,34.0,40.0
255396,20191231.0,23.0,PM2.5,49.0,42.0,38.0,45.0,60.0,42.0,29.0,...,33.0,9.0,66.0,66.0,47.0,52.0,41.0,55.0,32.0,31.0

In [14]:
# # 制作数据集
# train_data = []
# train_label = []

# data_train_pm25_filled_array = data_train_pm25_filled.iloc[:,3:].values
# for i in range(data_train_pm25_filled_array.shape[0] -12 -6):
#     train_data_now = data_train_pm25_filled_array[i:i+12,:]
#     train_label_now = data_train_pm25_filled_array[i+12:i+18,:]
#     train_data.append(train_data_now)
#     train_label.append(train_label_now)
    
# train_data = np.array(train_data)
# train_label = np.array(train_label)

# train_data_input = np.reshape(train_data, (train_data.shape[0],-1))
# train_label_input = np.reshape(train_data, (train_label.shape[0],-1))

In [17]:
def data_generate(data_pm25_filled):
    data = []
    label = []
    data_pm25_filled_array = data_pm25_filled.iloc[:,3:].values
    for i in range(data_pm25_filled_array.shape[0] -12 -6):
        data_now = data_pm25_filled_array[i:i+12,:]
        label_now = data_pm25_filled_array[i+12:i+18,:]
        data.append(data_now)
        label.append(label_now)

    data = np.array(data)
    label = np.array(label)

#     train_data_input = np.reshape(train_data, (train_data.shape[0],-1))
#     train_label_input = np.reshape(train_data, (train_label.shape[0],-1))
#     return train_data_input,train_label_input
    return data, label

In [18]:
train_data,train_label = data_generate(data_train_pm25_filled)
val_data,val_label = data_generate(data_val_pm25_filled)

In [21]:
train_label.shape

(42539, 6, 35)

In [48]:
# models = [DecisionTreeRegressor(),RandomForestRegressor(),AdaBoostRegressor(),GradientBoostingRegressor()]
# for model_now in models:
#     print(model_now)

In [20]:
# 模型定义

DT = DecisionTreeRegressor()
RF = RandomForestRegressor()
ADA_DT = AdaBoostRegressor()
GBDT = GradientBoostingRegressor()

In [24]:

val_predict = np.zeros(val_label.shape)
for ti in range(train_label.shape[1]):
    for lo in range(train_label.shape[2]):
        ADA_DT = AdaBoostRegressor()
        ADA_DT.fit(train_data[:,:,lo], train_label[:,ti,lo])
        val_predict[:,ti,lo] = ADA_DT.predict(val_data[:,:,lo])

In [22]:
# 模型训练

# DT.fit(train_data_input, train_label_input)
# RF.fit(train_data_input, train_label_input)
# ADA_DT.fit(train_data_input, train_label_input)
# GBDT.fit(train_data_input, train_label_input)

In [29]:
# 评价函数
def Evaluation(label, predict):
    MAE = np.mean(np.abs(label - predict))
    RMSE = np.power(np.mean(np.power(label - predict,2)) ,0.5)
#     MAPE = np.mean(np.abs(label - predict)*np.power(label,-1))

    label_grade = label
    label_grade[label_grade < 35] = 1
    label_grade[label_grade > 250] = 6
    label_grade[label_grade > 150] = 5
    label_grade[label_grade > 115] = 4
    label_grade[label_grade > 75] = 3
    label_grade[label_grade > 35] = 2
    
    predict_grade = predict
    predict_grade[predict_grade < 35] = 1
    predict_grade[predict_grade > 250] = 6
    predict_grade[predict_grade > 150] = 5
    predict_grade[predict_grade > 115] = 4
    predict_grade[predict_grade > 75] = 3
    predict_grade[predict_grade > 35] = 2
    
    res = np.zeros(label_grade.shape)
    res[label_grade == predict_grade] = 1
    num_cor = res.sum()
    num_all = res.shape[0] * res.shape[1]
    prec = num_cor/num_all
    return MAE,RMSE,prec

In [69]:
# 模型测试

# train_label_predict = DT.predict(train_data_input)
# val_label_predict = DT.predict(val_data_input)
val_label_predict = RF.predict(val_data_input)

In [34]:
# MAE_train_DT, RMSE_train_DT, MAPE_train_DT = Evaluation(y_train, y_pre_train_DT)
# MAE_val_DT, RMSE_val_DT, MAPE_val_DT = Evaluation(y_val, y_pre_val_DT)
# MAE, RMSE,PREC= Evaluation(train_label_input, train_label_predict)

for i in range(6):
    MAE, RMSE,PREC= Evaluation(val_label[:,i,:], val_predict[:,i,:])
    print('time:'+str(i+1)+' '+'MAE = '+str(MAE)+' '+'RMSE = '+str(RMSE)+' '+'PREC = '+str(PREC))

time:1 MAE = 0.35824827132038195 RMSE = 3.49004888574544 PREC = 0.9894632861376358
time:2 MAE = 0.35824827132038195 RMSE = 3.49004888574544 PREC = 0.9894632861376358
time:3 MAE = 0.35824827132038195 RMSE = 3.49004888574544 PREC = 0.9894632861376358
time:4 MAE = 0.35856813584834657 RMSE = 3.491606595658191 PREC = 0.9894538783574016
time:5 MAE = 0.3588880003763112 RMSE = 3.493163610939886 PREC = 0.9894444705771673
time:6 MAE = 0.3592078649042758 RMSE = 3.4947199325189677 PREC = 0.989435062796933